<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2 class="ml-2">Here are some links to help you start: </h2>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="ml-2">Home</a>
  <a routerLink="users" routerLinkActive="active" class="ml-2">Users</a>
  <a routerLink="calendar" routerLinkActive="active" class="ml-2">Calendar</a>

<router-outlet></router-outlet>
